{% load bootstrap4 %}
{% load static %}
{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-expand-md  fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <i class=" navbar-brand fab fa-instagram" style='font-size:30px;color:black;border-right:solid grey 2px;padding-right:10px;'></i>
        <h1 class="navbar-brand" style="font-family:'Billabong';font-weight:normal;font-size:42px" href="{% url 'index' %}" >Instagram</h1>
    </div>

    <!--The search form above-->
    <div class="col-sm-6 col-md-6">
            {% if user.is_authenticated %}
            <ul>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                  <li>
                    <a href="/new/post">Post</a>
                  </li>
                    <li>
                    <a href="/profile">Profile</a>
                  </li
                </ul>
              </li>
            </ul>
            {% else %}
            <li>
              <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>

            {% endif %}
    </div>
  </div>







</nav>
</body>
</html>